<section class="acc-list" aria-labelledby="list-title"  aria-describedby="list-description">
  <h2 class="list-title" aria-describedby="list-steps">Instructions</h2>
  <div *ngFor="let item of instructions">
    <ng-container *ngIf="isString(item);">
      <div [innerHTML]="item"></div>
    </ng-container>
    <ng-container *ngIf="!isString(item)">
      <span>{{item.preLinkText}} </span> <a routerLink="." queryParamsHandling="merge" [queryParams]="{screenSet: item.screenSet, startScreen: item.startScreen || undefined}">{{ item.linkText }}</a>  <span> {{item.postLinkText}}</span>
    </ng-container>
  </div>
</section>





