<fd-layout-grid class="custom-grid">
  <div fdLayoutGridRow>
    <ul fd-list fdCompact>
      <li fd-list-item class="table-header">
        <div [fdLayoutGridCol]="5" class="head-text">
          Flow (default language)
        </div>
        <div [fdLayoutGridCol]="3" class="head-text">
          Popup mode
        </div>
<!--        <div fdLayoutGridCol colGrow class="head-text">-->
<!--          Other available languages-->
<!--        </div>-->
      </li>

      <li fd-list-item *ngFor="let item of pageItems" >
        <div [fdLayoutGridCol]="5">
          @if (!item.url){
            {{item.id}}. <a attr.aria-label="{{item.name}}" target="_blank" routerLink="testPage" [queryParams]="{ id: item.id, popup: item.popup }">{{item.name}}</a>
          } @else {
            {{item.id}}. <a attr.aria-label="{{item.name}}" target="_blank" routerLink="testPage" [queryParams]="{ id: item.id}">{{item.name}}</a>
          }
        </div>
        <div [fdLayoutGridCol]="3">
          <div class="fd-form__item">
            <label class="fd-form__label">
              <span><fd-switch fdCompact [disabled]="item?.url != undefined" [(ngModel)]="item.popup" (ngModelChange)="switchChange(item)" activeText="on" inactiveText="off"></fd-switch></span>
            </label>
          </div>
        </div>

<!--        <div fdLayoutGridCol colGrow>-->
<!--          @for (lang of item?.languages ; track lang;) {-->
<!--            <a fd-button attr.aria-label="{{item.name}}" fdType="ghost" fdCompact label="{{lang.key}}" target="_blank" [routerLink]="['/testPage']" [queryParams]="{ id: item.id, lang: lang.value, popup: item.popup}"></a>-->
<!--          }-->
<!--        </div>-->
      </li>
    </ul>
  </div>
</fd-layout-grid>

<fd-pagination class="custom-pagination"
  [displayTotalItems]="false"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="data?.length || 0"
  (pageChangeStart)="newPageClicked($event)"
  [currentPage]="currentPage"
  ariaLabel="custom-pagination"
></fd-pagination>



