<fd-toolbar>
  <label fd-toolbar-label> Filter for list elements </label>
  <fd-toolbar-spacer></fd-toolbar-spacer>
  <fd-input-group
    glyph="decline"
    glyphAriaLabel="Clear"
    placeholder="Search"
    fdCozy
    [button]="true"
    [disabled]="false"
    [(ngModel)]="searchTerm"
    (ngModelChange)="handleSearchTermChange($event)"
  >
  </fd-input-group>
<!--  <button-->
<!--    ariaLabel="Sort ascending"-->
<!--    title="Sort ascending"-->
<!--    fd-button-->
<!--    glyph="sort-ascending"-->
<!--    (click)="changeSort(true)"-->
<!--  ></button>-->
<!--  <button-->
<!--    ariaLabel="Sort descending"-->
<!--    title="Sort descending"-->
<!--    fd-button-->
<!--    glyph="sort-descending"-->
<!--    (click)="changeSort(false)"-->
<!--  ></button>-->
</fd-toolbar>


<fd-layout-grid>
  <div fdLayoutGridRow>
    <ul fd-list fdCompact *ngFor="let item of displayData">
      <li fd-list-item>
        <div [fdLayoutGridCol]="4">
          <a attr.aria-label="{{item.name}}" routerLink="testPage" [queryParams]="{ id: item.id }">{{item.name}}</a>
        </div>
        <div [fdLayoutGridCol]="4">
          <button fd-button fdType="ghost" fdCompact label="HE" [routerLink]="['/testPage']" [queryParams]="{ id: item.id, lang: 'he' }"></button>
          <button fd-button fdType="ghost" fdCompact label="EN"></button>
          <button fd-button fdType="ghost" fdCompact label="AR"></button>
          <button fd-button fdType="attention" fdCompact label="FR"></button>
          <button fd-button fdType="attention" fdCompact label="GR"></button>
        </div>
      </li>
    </ul>
<!--    <div >-->
<!--      <example-layout-grid-block>Size: 5</example-layout-grid-block>-->
<!--    </div>-->
<!--    <div fdLayoutGridCol colGrow>-->
<!--      <example-layout-grid-block>Growing column</example-layout-grid-block>-->
<!--    </div>-->
  </div>
</fd-layout-grid>



