.sep {
  border-left: 1px solid #dbdbdb;
  min-height: 80vh;
}

.hide-overflow{
  overflow: hidden;
}

.menu-button{
  margin: 0px 6px 2px 0px;
}

.hide{
  display:none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

