<ng-container *ngIf="gigyaModule$ | async as data">

<fd-toolbar class="hide-overflow">
  <button fd-button class="menu-button" fdType="transparent" glyph="menu2" ariaLabel="toggle menu " title="toggle menu" (click)="toggleScreenMode(data.fullMode)"></button>
  <h2 fd-toolbar-label>{{data.id}}. {{data.name}} </h2>
  <fd-toolbar-spacer></fd-toolbar-spacer>
</fd-toolbar>

  <div aria-live="assertive" aria-atomic="true" class="status visually-hidden">
    {{formState}}
  </div>

 <fd-layout-grid>
    <div fdLayoutGridRow>
      <div [fdLayoutGridCol]="instructionWidth(data.fullMode)" [ngClass]="{ 'hide': this.isFullMode(data.fullMode)}">
        <app-gigya-screen-instructions [instructions]="data.instructions"></app-gigya-screen-instructions>
      </div>
      <div [fdLayoutGridCol]="mainWidth(data.fullMode)" [ngClass]="{ 'sep': !this.isFullMode(data.fullMode)}">
        @if (data?.url){
          <app-url-viewer
            [url]="data.url"
            [lang]="data?.selectedLang">
          </app-url-viewer>
        } @else {
          <app-gigya-screen-set
            *ngIf="!data?.url"
            [apiKey]="data.apiKey"
            [environment]="data.environment"
            [screenSet]="data.screenSet"
            [startScreen]="data.startScreen"
            [lang]="data?.selectedLang"
            [popup]="data?.popup"
            (formStatus)="onFormStatus($event)"
          ></app-gigya-screen-set>
        }
      </div>
    </div>
  </fd-layout-grid>
</ng-container>
