<ng-container *ngIf="gigyaModule$ | async as data">

<fd-toolbar>
  <h2 fd-toolbar-label>{{data.id}}. {{data.name}} </h2>
  <fd-toolbar-spacer></fd-toolbar-spacer>
</fd-toolbar>


 <fd-layout-grid>
    <div fdLayoutGridRow>
      <div [fdLayoutGridCol]="3">
        <app-gigya-screen-instructions [instructions]="data.instructions"></app-gigya-screen-instructions>
      </div>
      <div [fdLayoutGridCol]="1" class="sep"></div>
      <div [fdLayoutGridCol]="8">
        @if (data?.url){
          <app-url-viewer
            [url]="data.url"
            [lang]="data?.selectedLang">
          </app-url-viewer>
        } @else {
          <app-gigya-screen-set
            *ngIf="!data?.url"
            [apiKey]="data.apiKey"
            [environment]="data.environment"
            [screenSet]="data.screenSet"
            [startScreen]="data.startScreen"
            [lang]="data?.selectedLang"
            [popup]="data?.popup"
          ></app-gigya-screen-set>
        }
      </div>
    </div>
  </fd-layout-grid>
</ng-container>
